html
{
    scroll-behavior: smooth;
}

#splash-img
{
    background-image: url("images/canvas6.jpg");

}

#splash-img2
{
    background-image: url("images/canvas3.jpg");

}

#splash-img3
{
    background-image: url("images/canvas4.jpg");
}

#splash-img4
{
    background-image: url("images/blog-background.jpg");
}

.img-small
{
    height: 307px;
    width: 385px;
}

.logo-text
{
    color: rgb(213, 169, 64) !important;
}

.italic-font
{
    font-family: 'Alegreya', serif;
}

.fitVids-wrapper 
{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.fitVids-wrapper iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}