html
{
    scroll-behavior: smooth;
}

#splash-img
{
    background-image: url("images/canvas6-min.jpg");

}

#splash-img2
{
    background-image: url("images/canvas3-min.jpg");

}

#splash-img3
{
    background-image: url("images/canvas4.jpg");
}

#splash-img4
{
    background-image: url("images/blog-background.jpg");
}

#splash-img5
{
    background-image: url("images/expeditionBGimage.jpeg");
}

#splash-img6
{
    background-image: url("images/solarPower.JPG");
}

#splash-img7
{
    background-image: url("images/educationBG.jpeg");
}

#rowett-picture
{
    height: 297px;
    width: 280px;
}

#profile-25
{
    width: 125%;
    height: 125%;
}

.profile-small
{
    font-size: 4.75rem;
}

.img-small
{
    height: 307px;
    width: 385px;
}

.logo-text
{
    color: rgb(213, 169, 64) !important;
}

.italic-font
{
    font-family: 'Alegreya', serif;
}

.fitVids-wrapper 
{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

.fitVids-wrapper iframe 
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}