html
{
    scroll-behavior: smooth;
}

#splash-img
{
    background-image: url("images/canvas 1.jpg");

}

#splash-img2
{
    background-image: url("images/canvas3.jpg");

}

#splash-img3
{
    background-image: url("images/canvas4.jpg");
}